NEXT_PUBLIC_SUPABASE_URL=https://mdrrcrmowurbrwvdsgnq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GMAIL_ENCRYPTION_KEY=

OPENAI_API_KEY=
RESEND_API_KEY=
SENDER_EMAIL=
ADMIN_EMAIL=
ROHAN_SUPERADMIN_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
